@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

.roll__button{
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-size: 3rem;
    gap: 15px;
    margin: 20px auto;
    cursor: pointer;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: cyan;
}

.roll__button:hover{
    filter: brightness(0.8);
}